{% extends "base.html" %}

{% block content %}

<h1 id="countries-header"><b>Countries You Want To Visit</b></h1>
    <p id="countries-paragraph">You can find all the countries you have already visited listed below, along with countries you want to visit. 
    </p>
<p id="countries-paragraph"><b>Please feel free to add to your list at anytime</b></p>

<div class="countries-container">

    {% for country in all_countries %}
    <div class="countries-index">

    <h1><b>{{country.name}}</b></h1>
    <p>Geographical Area: <b>{{country.geographical_area}}</b></p>
    <p>Population: <b>{{country.population}}</b></p>
    <p>Language: <b>{{country.language}}</b></p>
    <p>Currency: <b>{{country.currency}}</b></p>
    <br>
    <p>Have you Visited?: <b>{{country.visited}}</b></p>
   

    <form action="/countries/{{country.id}}/delete" method="POST">
        <button type="delete">Delete</button>
    </form>
    <br>
    <form action="/countries/{{country.id}}/edit" method="GET">
        <button type="edit">Edit</button>
    </form>
    <br>

      
    </div>
  {% endfor %}
  
 

{% endblock %}