{% extends "base.html" %}

{% block content %}

<h1>Lets add your country below</h1>
<p>Please make sure to fill out all the required information.</p>

<form action="/countries" method="post">

<div>
    <label for="name">Country Name:</label>
    <input type="text" id="description" name="name" placeholder="Enter Country Name" required>
</div>
<div>
    <label for="geographical_area">Geographical Area:</label>
    <input type="text" id="geographical_area" name="geographical_area" placeholder="Location Of Country">
</div>
<div>
    <label for="population">Population:</label>
    <input type="text"  id="population" name="population" placeholder="Please Enter Population">
</div>
<div>
    <label for="language">Language:</label>
    <input type="text" id="language" name="language" placeholder="Enter Language Spoken">
</div>
<div>
        <label for="currency">Currency:</label>
        <input type="text" id="currency" name="currency" placeholder="Enter Currency Used">
</div>
<div>
    <label for="visited">Visited:</label>
    <select name="visited" id="visited">
        <option value="disabled selected">Please select an option:</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
</div>
<br>
<div>
    <button type="submit">Add Country</button>
</div>


</form>
{% endblock %}
<!-- 
<button type="submit">Add task!</button> -->

<!-- # self.name = name
#     self.geographical_area = geographical_area
#     self.population = population
#     self.language = language
#     self.currency = currency
#     self.id = id
#     self.visited = visited -->