{% extends "base.html" %}

{% block content %}

<br><fieldset id="country-edit">
  <b><legend>Edit Your Country Below:</legend></b><br>
<form action="/cities/{{city.id}}" method="post">
   
        <label for="name"> City Name:</label><br>
        <br><input type="text" id="name" name="name" value="{{city.name}}" placeholder="Update City Name" required><br>
        <br><label for="country">Country:</label><br>
        <br><select id="country_id" name="country_id" >
          {% for country in all_countries %}
            <option value="" disabled selected hidden>Choose option</option>
            <option value="{{country.id}}">{{country.name}}</option>
          {% endfor %}
        </select><br>
  
        <br><label for="attractions"> Attractions:</label><br>
        <br><input type="text" id="attractions" name="attractions" value="{{city.attractions}}" placeholder="Update City Name" required><br>
  
        <br><label for="temperature">Temperature °C:</label><br>
        <br><input type="text" id="temperature" name="temperature" value="{{city.temperature}}" placeholder="Enter temperature" required><br>
    
        <br><label for="visited">Visited:</label><br>
        <br><select id="visited" name="visited">
          <option value="" disabled selected hidden>Choose option</option>
          <option value="True">Yes</option>
          <option value="False">No</option>
        </select><br>
      
      <br>
      <button id="edit-country-button" type="submit">Update City</button><br>
    
</form>
</fieldset>
<br>


{% endblock %}

 <!-- self.name = name
        self.country = country
        self.attractions = attractions
        self.temperature = temperature
        self.id = id
        self.visited = visited -->