{% extends "base.html" %}

{% block content %}

<h1 id="list-cities-header"><b>Your List Of Cities</b></h1>
    <p id="list-cities-p1">You can find all the cities you have already visited listed below, along with cities you want to visit. 
    </p>
<p><b>Please feel free to add to your list at anytime</b></p>


{% for city in all_cities %}
<div class="container">
<div class="cities">
  <b><fieldset id="country-container"></b>
    <img id="cities-list-image" src="/static/images/download.png" alt="travel">
   <br><b><legend><u>City Information:</u></legend></b>
  <h1><br><b>{{city.name}}</h1>
    <b><u>Country:</u><br><br> {{city.country.name}}<br>
  <br> <u>Have you visited here?</u> 
  <br>
  <br>{{city.visited}} <br><br>
  <br><b><u>City Temperature:</u><br><br> {{city.temperature}} <br>
  <br><b><u>City Attraction You Want to Visit:</u><br><br> {{city.attractions}}
  

<form action="/cities/{{city.id}}/delete" method="POST">
    <br>
    <button id="delete-city-button" type="delete">Delete City</button>
</form>
<form action="/cities/{{city.id}}/edit" method="GET">
    <button id="edit-city-button" type="edit">Edit City</button>
</form>


<br>


</div>
</div>


{% endfor %}

</fieldset>




{% endblock %}