{% extends "base.html" %}

{% block content %}

<div id="city-new-header">
<h1>Lets add your city below, this will be added to your bucket list</h1>
<p>Please make sure to enter all the required information below.</p>
<p>Remember to enter one attraction you really want to visit</p><br>
</div>
<img id="city-image-new-city" src="/static/images/cities-color-pic.jpeg" alt="">

<fieldset id="fieldset-new-city" style="width:270px">
        <br><b><legend><u>Please Add Your New City:</u></legend></b>
<form id="form-new-city" action="/cities" method="post">

    <br><b><label for="name">Whats Your City Name?</label><br></b>
    <br><input type="text" id="name" name="name" placeholder="Please Input Your City" required><br>

    <br><b><label for="attractions">Attraction You Want To See:</label><br></b>
    <br><input type="text" id="attractions" name="attractions" placeholder="Input Attraction To Visit"><br>

    <br><b><label for="temperature">Whats the Temperature °C  ?</label><br></b>
    <br><input type="text"  id="temperature" name="temperature" placeholder="Enter the Temperature"><br>

    <br><b><label for="country">Country:</label><br></b>
    <br><select name="country_id" id="country_id">
        {% for country in all_countries %}
        <option value="" disabled selected hidden>Select Country</option>
        <option value="{{ country.id}}">{{ country.name}} </option>
        {% endfor %}
    </select><br>


    <br><b><label for="visited">Have You Visited?</label><br></b>
    <br><select name="visited" id="visited">
        <option value="" disabled selected hidden>Please select an option:</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select><br>

    <br><button id="new-city-button" type="submit">Add City</button>
    


</form>
</fieldset>

<br>

{% endblock %}

