{% extends "base.html" %}

{% block content %}

<h1>Lets add your city below, this will be added to your bucket list</h1>
<p>Please make sure to fill out all the required information.</p>
<p>Remember to enter one attraction you want to visit</p><br>
<img id="city-image-new-city" src="/static/images/future_of_cities-1200x627.jpeg" alt="">

<fieldset id="fieldset-new-city" style="width:270px">
        <br><b><legend><u>Please Add Your New City:</u></legend></b>
<form id="form-new-city" action="/cities" method="post">
     
<!-- <div> -->
    <br><b><label for="name">Whats Your City Name?</label><br></b>
    <br><input type="text" id="name" name="name" placeholder="Please Input Your City" required><br>
<!-- </div> -->
<!-- <div> -->
    <br><b><label for="attractions">Attraction You Want To See:</label><br></b>
    <br><input type="text" id="attractions" name="attractions" placeholder="Input Attraction To Visit"><br>
<!-- </div> -->
<!-- <div> -->
    <br><b><label for="temperature">Whats the Temperature °C ?</label><br></b>
    <br><input type="text"  id="temperature" name="temperature" placeholder="Enter the Temperature"><br>
<!-- </div> -->

<!-- <div> -->
    <br><b><label for="country">Country:</label><br></b>
    <br><select name="country_id" id="country_id">
        {% for country in all_countries %}
        <option value="" disabled selected hidden>Select Country</option>
        <option value="{{ country.id}}">{{ country.name}} </option>
        {% endfor %}
    </select><br>
<!-- </div>
<div> -->

    <br><b><label for="visited">Have You Visited?</label><br></b>
    <br><select name="visited" id="visited">
        <option value="" disabled selected hidden>Please select an option:</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select><br>
<!-- </div>
<br>
<div> -->
    <br><button id="new-city-button" type="submit">Add City</button>
    
<!-- </div> -->

</form>
</fieldset>

<br>

{% endblock %}

<!-- self.name = name
        self.country = country
        self.attractions = attractions
        self.temperature = temperature
        self.id = id
        self.visited = visited -->