{% extends "base.html" %}

{% block content %}

<h1>Lets add your city below, this will be added to your bucket list</h1>
<p>Please make sure to fill out all the required information.</p>
<p>Remember to enter one attraction you want to visit</p>

<form action="/cities" method="post"></form>

<div>
    <label for="name">City Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter City Name" required>
</div>
<div>
    <label for="attractions">Attractions:</label>
    <input type="text" id="attractions" name="attractions" placeholder="Popular Attraction">
</div>
<div>
    <label for="temperature">Temperature °C:</label>
    <input type="text"  id="temperature" name="temperature" placeholder="Enter the Temperature">
</div>
<div>
    <label for="country">Country:</label>
    <select id="country" name="country_id">
      {% for country in all_countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  </div>
<div>
    <label for="visited">Visited:</label>
    <select name="visited" id="visited">
        <option value="disabled selected">Please select an option:</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
</div>
<br>
<div>
    <button type="submit">Add City</button>
</div>

{% endblock %}

<!-- self.name = name
        self.country = country
        self.attractions = attractions
        self.temperature = temperature
        self.id = id
        self.visited = visited -->