<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>My Travel Bucket List</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico"/>
</head>
<body>
    
    <header>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                <img id="new-logo" src="/static/images/new-logo.png" alt="My Travel Bucket List">
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
    
          <nav class="nav-links">
            
          <ul>
              <li><a href="{{ url_for('home') }}" target="_self">Home</a></li>
              <li><a href="{{ url_for('countries.countries') }}" target="_self">All Countries</a></li>
              <li><a href="{{ url_for('cities.cities') }}" target="_self">All Cities</a></li>
              <li><a href="{{ url_for('cities.new_city') }}" target="_self">Add City</a></li>
              <li><a href="{{ url_for('countries.new_country') }}" target="_self">Add Country</a></li>
              <a class="icon">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-youtube"></i>
    
              </a>
            </ul>
            </div>
          </div>
          <br>
        <img id="logo" src="/static/images/my_travel_bucketlist.png" alt="My Travel Bucket List">
        
    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>
    <footer>
        &copy; 2021 Codeclan E50
    </footer>

    
</body>
</html>