<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Travel Bucket List</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico"/>
</head>
<body>
    <header>
        <!-- <nav id="nav">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/bucketlist">My List</a></li>


            </ul>
        </nav> -->
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/bucketlist">My Bucket List</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
          </div>
          <br>
        <img id="logo" src="/static/images/my_travel_bucketlist.png" alt="My Travel Bucket List">
        
    </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        &copy; Copyright 2021 Josh Wilkinson Codeclan E50
    </footer>
    
</body>
</html>