<!-- {% extends "base.html" %}
{% block content %}

<h1>Cities/Countries </h1>

<h2>Cities</h2>
{% for city in all_cities %}
<div class="countries">

    <h2><br><b>{{city.name}}</h2>
    <br><b>Attractions:</b> {{city.attractions}}
    <br><b>Temperature:</b> {{city.temperature}}
    <br><b>Visited:</b> {{city.visited}}

    <form action="/cities/{{city.id}}/delete" method="POST">
        <button type="delete">Delete</button>
    </form>
    <form action="/cities/{{city.id}}/edit" method="GET">
        <button type="edit">Edit</button>
    </form>

</div>

{% endfor %}

<h2>Countries</h2>
{% for country in all_countries %}
<div class="countries">

    <h2><br><b>{{country.name}}</h2>
    <br><b>Geographical Area:</b> {{country.geographical_area}}
    <br><b>Population:</b> {{country.population}}
    <br><b>Language:</b> {{country.language}}
    <br><b>Currency:</b> {{country.currency}}
    <br><b>Temperature:</b> {{country.temperature}}
    <br><b>Visited:</b> {{country.visited}}

    <form action="/countries/{{country.id}}/delete" method="POST">
        <button type="delete">Delete</button>
    </form>
    <form action="/countries/{{country.id}}/edit" method="GET">
        <button type="edit">Edit</button>
    </form>

</div>

<!--  self.name = name -->
        <!-- self.geographical_area = geographical_area
        self.population = population
        self.language = language
        self.currency = currency
        self.id = id
        <!-- self.visited = visited --> 

<!-- {% endfor %}




{% endblock %} -->
<!-- {% for task in all_tasks %}
    <div class="task">
        <div class="content">
          {{task.user.first_name}}
          <div class="description">
            <a href="/tasks/{{task.id}}">{{task.description}}</a>
            <span class="duration">{{task.duration}} mins</span>
          </div>
          <div class="buttons">
           

            <form action="/tasks/{{task.id}}/delete" method="post">
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </form>
            <div>
              <form action="/tasks/{{task.id}}/show" method="get"></form>
            </div>
            
            {% if task.completed == True %}
              <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            {% endif %}

          </div>
        </div>
      </div>

{% endfor %}

{% endblock %} --> -->